fastapi
uvicorn[standard]
langgraph
langchain==0.2.0
llama-index==0.10.0
python-dotenv
pgvector
sqlalchemy
asyncpg
unstructured[all]
pillow
tqdm
aiofiles
python-multipart
loguru
requests
pdf2image
faiss-cpu
streamlit
fpdf2
